# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
dist/
build/

# Misc
.DS_Store
*.pem
*.log

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Docker & Data
*/rabbitmq-data/
*/influxdb-data/
*/mysql-data/
*/grafana-data/

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
